<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="root">
      <button @click="toggleCart">
        {{ showCart ? "Close cart" : "Show cart" }}
      </button>
      <div data-id="cart" v-if="showCart">
        <div class="goods-item" v-for="item in cartGoods">
          <h3>{{ item.productName }}</h3>
          <span>{{ item.price }}$</span>
          <span>there are {{ item.quantity }} items</span>
          <button @click="removeFromCart(item)">remove from cart 🛒</button>
        </div>
      </div>
      <input type="search" placeholder="Search" v-model="searchGoods" />
      <button @click="filterGoods()">Искать</button>
      <div v-if="filteredGoods.length == 0">
        <h3>Нет данных</h3>
      </div>
      <div data-id="goods">
        <div class="goods-item" v-for="item in filteredGoods">
          <h3>{{ item.productName }}</h3>
          <span>{{ item.price }}$</span>
          <button @click="addToCart(item)">add to cart 🛒</button>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
  </body>
</html>
