<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <button @click="toggleCart">{{ showCart ? "Close cart" : "Show cart" }}</button>
        <div data-id="cart" v-if="showCart">
            <app-cart @remove-from-cart="removeFromCart" :good="good" v-for="good in cartGoods"></app-cart>
        </div>
        <app-search @click="filterGoods" @change="value => searchGoods = value"></app-search>
        <app-goods-list :goods="filteredGoods" @add-to-cart="addToCart"></app-goods-list>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>
